{% load static %}
 <style>
    body {
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
}
    
    </style>
<div>

    
    <!-- <div><h3>Random Forest</h3></div>
    <div>**********************</div>
    <div>Precision: {{precision}}</div>
    <div>Recall: {{recall}}</div>
    <div>F-score: {{fscore}}</div>
    <div>Accuracy: {{acc}}</div><br>

    <div>Avg precision: {{avg_precision_sc}}</div>
    <div>Avg recall: {{avg_recall_sc}}</div>
    <div>Avg f1 score: {{avg_f1_sc}}</div>
    <div>Avg accuracy: {{avg_acc_score}}</div><br>

    <div><h3>Best Accuracy</h3></div>
    <div>**********************</div>
    <div>Random Forest: {{RF}}</div>
    <br> -->
    <center>
<div style="font-size:80px;color:white;margin-top: 200px;">MALICIOUS ATTACK DETECTION</div>
<hr style="width:55%;text-align:left;margin-left:335px;">
</center>
    <div style="margin-top: 50px;"><span style="font-size:70px;color:orange;margin-left:50px;">PREDICTION :</span> </div>
      <div style="margin-left:450px;"><span style="font-size:50px;color:yellow;margin-left:80px;">{{value}}</span></div>




</div>